/*-----------------------------------
    Small devices (landscape phones, 576px and up)
------------------------------------*/
@media (min-width: 576px) {
		.dbase{
	width: 98%;
	height: auto;
}
	.databse-box{

	z-index: 1000;
	background-color: rgba(0,0,0,0.00);
	border: none;
}
	
	.phero{
	height: 95px;
}
	
	.serv-header h1{
		font-size: 3em;
	}
		.container2 .media2{
		margin: 20px 36px;
	}
   .serv img{
    width: 80%;
  }
	.navbar {
    padding: 0px 0 5px;
  }
  .top-header {
    padding: 10px 0 0px;
  }
  .hero .slide-content {
    min-height: 700px;
  }
  .hero .slide-content h1 {
    margin-top: 100px;
  }
  .recent-posts .row .col-lg-6:nth-of-type(odd) .post-thumb {
    margin-top: 0;
    margin-left: 25px;
  }
  .recent-posts .row .col-lg-6:nth-of-type(even) .post-thumb {
    margin-bottom: 0;
    margin-right: 25px;
  }
}


@media (max-width: 575px) {
	.dbase{
	width: 100%;
	height: auto;
}
	.databse-box{

	z-index: 1000;
	background-color: rgba(0,0,0,0.00);
	border: none;
}
	
	.notice{
		font-size: 11px;
	}
	
	.container-s .box{
		flex-direction: column;
	}
	.container-s .box .dream{
		width: 100%;
	}
	.container-s .box .dream .gal i{
		font-size: 1.5em;
	}
}

@media (max-width: 767px) {
	
		.dbase{
	height: auto;
}
						#navbarSupportedContent{
	padding-left: 10px;
	width: 100%;
	background-color: rgba(0,0,0,1);
	}
	header {
	background: url("../images/rm-bn-1400000.png") no-repeat rgba(0,0,0,0.15);
	background-size: cover;
	background-position: center;
	border-bottom: medium solid #08FF00;
}
	.container-s .box .dream .gal i{
		font-size: 0.7em;
	}
}

/*-----------------------------------
    Medium devices (tablets, 768px and up)
------------------------------------*/
@media (min-width: 768px) {
	.carousel-item{
 width: 100%;
	height: 400px;
	
}
	
	header{
    background: rgba(0,0,0,0.71);
			border-bottom: none;
	}
   .serv img{
    width: 60%;
  }
  .navbar-brand img {
    width: 140px;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 8px 10px;
  }
  .navbar-expand-md .navbar-nav .nav-item {
	margin-right: 0px;
  }
  .navbar-collapse .nav-link {
    font-size: 1.2rem;
    position: relative;
  }
  .navbar-collapse .nav-link::before {
    content: "\f0d8";
    font-family: FontAwesome;
    color: #48FF00;
    position: absolute;
    bottom: 7px;
    line-height: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
    transition: all 0.35s ease;
  }
  .navbar-collapse .nav-link::after {
    content: "";
    width: 0;
    height: 4px;
    background-color: #3EDC00;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: all 0.35s ease;
  }
  .navbar-collapse .nav-link:hover::after {
    width: 100%;
    left: 0;
  }
  .navbar-collapse .nav-link:hover::before {
    opacity: 1;
  }
  .navbar-collapse .search-form {
    padding: 10px;
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    opacity: 0;
    transition: all 0.35s ease-in-out;
  }
  .navbar-collapse .search-form.show {
    display: block;
    opacity: 1;
  }
  .navbar-collapse .search-form input[type="text"] {
    border: 1px solid #ced4da;
    color: #343a40;
    padding: 1.5313rem 0.625rem;
  }
  .navbar-collapse .search-form .btn {
    margin-top: 0;
  }
  .navbar-collapse .search-form input[type="submit"] {
    border: 1px solid #ced4da;
    margin-left: -1px;
    border-radius: 0;
  }
  .group {
    order: 2;
  }
  .cart,
  .search-icon {
    font-size: 0.875rem;
  }
  .cart:hover,
  .search-icon:hover {
    color: #48FF00;
  }
  .search-icon {
    margin: 0 13px;
    order: 1;
  }
  .hero .slide-content h1 {
    font-size: 3.5rem;
  }
  .hero .slide-content br {
    display: block;
  }
  .hero .arr-left,
  .hero .arr-right {
    top: 50%;
  }
  .featured-img {
    height: 100%;
    margin-top: -66px;
  }
  .cta-content {
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
  }
  .cta-content::after {
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
  }
  .cta-content .subscribe-btn {
    align-self: flex-end;
    margin-right: 30px;
  }
}




@media (max-width: 992px) {
		 .carousel-item #c1{
	width: 170px;
	 bottom: 50px;
	margin-left: 6%;
	
}
	
	.carousel-item #c1 b span{
		font-size: 10px;
	}
		.carousel-item #c2 b span{
		font-size: 10px;
	}
	.foot-note .col-6-md{
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 1rem;
  }
		.foot-note .col-lg-7{
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 1rem;
  }
}



/*-----------------------------------
    Large devices (desktops, 992px and up)
------------------------------------*/
@media (min-width: 992px) {
	 .carousel-item #c1{
	width: 240px;
	bottom: 100px;
	margin-left: 5%;
}
	
		 .carousel-item #c2{
	width: 240px;
	bottom: 100px;
	margin-left: 10px;
}
		.carousel-item{
 width: 100%;
	height: 76vh;
	
}
	
		.foot-note .col-lg-7{
		display: flex;
		justify-content: flex-end;
		align-items:flex-end;
		padding-top: 1rem;
  }
	.container2 .media2{
		margin: 20px 105px;
	}
   .serv img{
    width: 50%;
  }
    .navbar-brand img {
    width: 180px;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 8px 13px;
  }
  .navbar-expand-md .navbar-nav .nav-item {
    margin-right: 0px;
  }
  .hero .slide-content {
    min-height: 100vh;
  }
  .hero .slide-content h1 {
    font-size: 4.5rem;
  }
  .hero .slide-content br {
    display: block;
  }
  .hero .arr-left,
  .hero .arr-right {
    top: 50%;
  }
  .title h1 {
	font-size: 48px;
  }
}


/*-----------------------------------
    Large devices (desktops, 1025px and up)
------------------------------------*/
@media (min-width: 1025px) {
	
	
	.container2 .media2{
		margin: 20px 25px;
	}
}

/*-----------------------------------
    Extra large devices (large desktops, 1200px and up)
------------------------------------*/
@media (min-width: 1200px) {
	 .carousel-item #c1{
	width: 270px;
	 bottom: 170px;
	margin-left: 6%;
	
}
		 .carousel-item #c2{
	width: 270px;
	 bottom: 100px;
	margin-left: 10px;
	
}
	.bt a{
		max-width: 500px;
	}
	.container2 .media2{
		margin: 20px 40px;
	}
  .navbar-brand img {
    width: 200px;
  }
  .title h1 {
    font-size: 58px;
  }
  .trust .title {
    padding-top: 70px;
  }
  .trust ul {
    padding-bottom: 30px;
  }
  .trust .gallery {
    position: absolute;
    top: 0;
    right: 20px;
    height: 100%;
    padding: 75px 0;
  }
	.featured-big {
		height: 100%;
		width: auto;
	}
	.featured-img {
		width: 80%;
	}
}
